@import "tailwindcss";

@theme {
  --color-primary: #10b981; /* Emerald 500 */
  --color-secondary: #14b8a6; /* Teal 500 */
  --color-accent: #06b6d4; /* Cyan 500 */
  --color-bg-dark: #0f172a; /* Slate 900 */
  --color-bg-light: #f8fafc; /* Slate 50 */
}

/* Basic body reset */
@layer base {
  body {
    @apply bg-bg-light text-slate-800 antialiased;
  }
}
